DATABASE_URL=postgresql+asyncpg://postgres:root@localhost:5432/ai
FLASK_ENV=development
JWT_SECRET_KEY=change_this_is
JWT_ACCESS_TOKEN_EXPIRES=timedelta(hours=1)
JWT_REFRESH_TOKEN_EXPIRES=timedelta(hours=12)
FRONTEND_URL=http://localhost:3000